@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #fafafae5;
  --color-bg-foreground: #ffffffcc;
  --color-blue-main: #0066ffcc;
  --color-inner-shadow-white: #ffffff33;
}
